<div class="d-flex justify-content-center align-items-center w-100 h-100">
	<div class="w-50" >
		<h3 style="font-size:18px">
			Reception Dashboard – Your Hub for Efficient Patient Management
		</h3>
		<p style="font-size:14px">
			Welcome to the Reception Dashboard, where managing patient records is quick and easy. With Doc App, receptionists can add new patients, update existing records, and schedule appointments with just a few clicks. Our intuitive interface ensures that you can efficiently handle your day-to-day tasks without any hassle.
		</p>
		<p style="font-size:14px">
			From tracking patient appointments to organizing daily schedules, Doc App streamlines the entire process, allowing you to focus on delivering a smooth and pleasant experience for every patient.
		</p>
		<p style="font-size:14px">
			Start using the Reception Dashboard today and experience the ease of managing patient information in one convenient place.
		</p>
		<%= link_to "View all patients", patients_path, class: "btn btn-secondary" %>
		<%= link_to "Add patient", new_patient_path, class: "btn btn-dark" %>
	</div>
	<img src="https://img.freepik.com/free-vector/female-client-visitor-talking-with-receptionist-desk-speech-bubble-laptop-flat-vector-illustration-service-communication_74855-13068.jpg?uid=R136712360&ga=GA1.2.1914382452.1716092979&semt=ais_hybrid" style="width:500px">
</div>
