<div class="d-flex w-100 pt-3 pb-5 justify-content-center align-items-center">
	<div class="text-center" style="width:600px" >
		<h3 class="fw-bolder">
			About Doc App
		</h3>
		<div class="d-flex flex-column gap-3">
			<img src="https://img.freepik.com/free-vector/medical-professionals-people-retro-cartoon-poster_1284-11209.jpg?uid=R136712360&ga=GA1.2.1914382452.1716092979&semt=ais_hybrid" class="rounded">
			<div>
				<p style="font-size:14px" >
					At Doc App, our mission is to transform healthcare management by providing an intuitive platform that simplifies patient and appointment management for healthcare facilities. We understand the challenges that receptionists and doctors face daily, and we've designed our application to address those needs effectively.
				</p>
				<p style="font-size:14px">
					Our team is dedicated to creating a user-friendly experience, allowing receptionists to easily add and manage patient information while giving doctors the tools to track their appointments seamlessly. With features like real-time appointment visibility and straightforward sign-in and sign-out options, Doc App empowers healthcare professionals to focus on what they do best—providing quality care to their patients.
				</p>
				<p style="font-size:14px">
					We believe in the importance of innovation in healthcare, and our commitment to continuous improvement ensures that Doc App evolves with the ever-changing landscape of medical practices. Join us in streamlining healthcare management and enhancing patient experiences!
				</p>
			</div>
			
		</div>

	</div>
</div>
