<% content_for :title, "Editing patient" %>
<h3 class="fw-border text-center" >Editing patient</h3>
<div class="d-flex justify-content-center items-center">
  <div class="w-50" >
    <%= render "form", patient: @patient %>
  </div>
</div>
